# Virtual environments
venv/

# Raw datasets
**/datasets/raw/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code personal settings
.vscode/settings.json

# Local history
.history/

# Generated models
**/models/

# Generated logs
**/logs/

# Linux virtual environment
Automation-OtherTools_Linux

docker-compose.yaml

utils/dataset_quality/