# Virtual environments
venv/
Automation-OtherTools_Linux/

# Raw datasets
**/datasets/raw/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code personal settings
.vscode/settings.json

# Local history
.history/

# Generated logs
**/logs/

# Temporary files
*.tmp

# Docker local configuration
docker-compose.yaml

# Continue AI Extension local settings
.continue/

# Models
**/models/